.MenuContainer {
    padding: 20px;
    border: solid 1px #404040;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

.Menu {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    margin: auto;
}

input {
    margin: 20px;
}

.Menu > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.track {
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
}